.template2-container {
  width: 21cm;
  height: 29.7cm;
  background: white;
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 20px;
}

.template2-name {
  font-weight: bold;
  font-size: 30px;
}

.template2-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 4px solid grey;
  padding: 20px;
}

.template2-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.template2-bottom-headers {
  font-weight: bold;

  padding-top: 20px;
}

.template2-blurb {
  width: 80%;
  border-bottom: 2px solid lightgrey;
  padding: 20px;
}

.template2-subheaders {
  display: flex;
  flex-direction: column;
}

.template2-place {
  font-weight: bold;
}

.template2-dates {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.template2-place-skill {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
}
