@template {
  size: A4;
  margin: 0;
}

.template1-container {
  width: 21cm;
  height: 29.7cm;
  background: white;
  color: black;
  font-size: 20px;
}

.template1-name {
  font-weight: bold;
  font-size: 30px;
}

.template1-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid grey;
  padding: 20px;
}

.template1-blurb {
  padding: 10px;
  border-bottom: 1px solid grey;
}

.template1-bottom-headers {
  font-weight: bolder;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.template1-subheader {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding-left: 20px;
  font-size: 18px;
}

.template1-place {
  font-weight: bold;
}

.template1-dates {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.template1-place-skill {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
}
